.menu {
    &__list {
        padding: 12px;
        background-color: $white;
        list-style: none;
        position: absolute;
        right: -15px;
        width: 105%;
        display: flex;
        flex-direction: column;
        & li {
            background-color: $backgrond-img-color;
            width: 100%;
            border-radius: 12px;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
        &--none {
            display: none;
        }
    }
    &__link {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $link-color;
        display: block;
        padding: 7px 0;
        &:active {
            background-color: $border-color;
        }
        &--about {
            color: $link-color;
            padding-top: 8px;
            padding-bottom: 2px;
            &.active {
                color: $active-color;
            }
        }
    }
}

@media (min-width: 482px) {
    .menu {
        &__list {
            flex-direction: row;
            position: relative;
            background-color: transparent;
            right: 0;
            margin: 0 -15px;
            width: auto;
            & li {
                background-color: transparent;
                margin-bottom: 0;
                height: 25px;
                width: auto;
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
            &--none {
                display: flex;
            }
        }
        &__link {
            margin-right: 13px;
            font-size: 16px;
            line-height: 20px;
            color: $white;
            margin-left: 3px;
            &:hover {
                border-bottom: 2px solid $white;
                transition-duration: 500ms;
                transition-delay: 60ms;
                transition-property: all;
            }
            &--about {
                color: $link-color;
                &.active {
                    border-bottom: 2px solid $active-color;
                }
                &:not(.active):hover {
                    border-bottom: 2px solid $link-color;
                    transition-duration: 500ms;
                    transition-delay: 60ms;
                    transition-property: all;
                }
            }
        }
    }
}

@media (min-width: 868px) {
    .menu {
        &__link {
            padding-right: 0;
        }
        &__list {
            justify-content: flex-end;
            padding: 0;
        }
    }
}
